@font-face {
  font-family: 'ProximaNova_bold';
  src: url('../fonts/ProximaNova-Bold.woff2') format('woff2'), url('../fonts/ProximaNova-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'ProximaNova_regular';
  src: url('../fonts/ProximaNova-Regular.woff2') format('woff2'), url('../fonts/ProximaNova-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
input:focus,
button:focus,
a:focus {
  outline: none;
}
a:hover {
  text-decoration: none;
}
body {
  font-family: 'ProximaNova_regular', sans-serif;
}
html {
  font-size: 10px;
}
section {
  padding: 10rem 0;
}
main {
  padding: 3rem 0 5rem;
  background: white url(../img/main-bg.png) center center no-repeat;
  background-size: cover;
}
.button {
  background-color: #feb404;
  color: white;
  padding: 1rem 3rem;
  border-radius: 8px;
  border: none;
  text-transform: uppercase;
  font-size: 12px;
  transition: all 0.2s;
}
.button:hover {
  cursor: pointer;
  background-color: #e8a301;
}
.phone-link {
  display: inline-block;
  color: #1a1820;
  font-weight: 900;
  font-size: 1.8rem;
  font-family: 'ProximaNova_bold', sans-serif;
  height: 70px;
  line-height: 7rem;
  text-align: left;
}
.header {
  height: 70px;
}
.wrap {
  display: table;
  width: 100%;
  height: 7rem;
}
.wrap-block {
  display: table-cell;
  vertical-align: middle;
  text-align: right;
}
.main-content {
  margin-top: 10rem;
}
.main-content h1 {
  font-size: 4rem;
  text-transform: uppercase;
  font-family: 'ProximaNova_bold', sans-serif;
  margin-bottom: 4rem;
  line-height: 1.45;
}
.main-content p {
  font-size: 2.4rem;
  margin-bottom: 4rem;
}
.main-content span {
  display: inline-block;
  padding: 3rem 5rem;
  background-color: #46b814;
  font-size: 1.8rem;
  color: white;
  text-align: center;
}
.main-content span strong {
  font-size: 2.5rem;
  font-weight: 900;
}
.main-content-trigger {
  font-size: 2.2rem;
  text-transform: uppercase;
  display: block;
  margin-top: 4rem;
  font-family: 'ProximaNova_bold', sans-serif;
}
.main-content-form {
  padding: 4rem 5rem;
  background-color: white;
  text-align: center;
}
.main-content-form h2 {
  font-size: 1.7rem;
  margin-bottom: 3.9rem;
}
.main-content-form h2 strong {
  font-size: 1.9rem;
}
.main-content-form-input {
  margin: 1.3rem 0;
  border: 2px solid #d4d4d4;
  width: 100%;
  padding: 1.5rem;
}
.main-content-form label {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  padding: 0.5rem;
  background-color: white;
  font-size: 13px;
  font-weight: 900;
}
.main-content-form button {
  font-size: 1.6rem;
  width: 100%;
  height: 5rem;
}
.main-content-form small {
  display: block;
  margin-top: 1.1rem;
  font-size: 1rem;
}
@media (max-width: 991px) {
  .main-title {
    text-align: center;
    padding-bottom: 13rem;
  }
  .main-content-form {
    text-align: center;
  }
}
@media (max-width: 600px) {
  .logo {
    width: 100%;
    background-color: #fff;
  }
  .logo-img {
    display: inline;
  }
  .main-title h1 {
    font-size: 30px;
  }
}
